.page {
  max-width: 1920px;
  min-width: 320px;
  width: 100%;
  margin: 0 auto;
  padding: 0;
  font-family: "Gilroy", Arial, sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
  z-index: 0;
}