.central__description {
    position: relative;
    margin: 25px auto 25px;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    z-index: 2;
    color: #071531;
}