.header__ul-container {
    list-style: none;
    padding: 0;
    margin: 0 0 0 40px;
    display: flex;
}

@media screen and (max-width: 769px) {
    .header__ul-container {
        flex-direction: column;
    }
}