.header__ul-container {
    list-style: none;
    padding: 0;
    margin: 0 0 0 50px;
    display: flex;
    flex-direction: row;
    max-width: 1440px;
    min-height: 96px;
    height: 100%;
    width: 100%;
}

@media screen and (max-width: 769px) {
    .header__ul-container {
        flex-direction: column;
    }
}