.header__dropdown-content {
    display: block;
    position: absolute;
    left: 405px;
    background-color: #fff;
    list-style: none;
    padding: 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1;
    opacity: 0;
    transform: translateY(-10px);
    transition: opacity 0.1s ease, transform 0.1s ease;
    width: 180px;
    border-top: 3px solid black; 
}

.header__dropdown-li:hover .header__dropdown-content {
    opacity: 1;
    transform: translateY(20px);
}