.header__dropdown-content {
    display: block;
    position: absolute;
    background-color: #fff;
    list-style: none;
    padding: 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1;
    opacity: 0;
    transform: translateY(-10px);
    transition: opacity 0.1s ease, transform 0.1s ease;
}

.header__dropdown-li:hover .header__dropdown-content {
    opacity: 1;
    transform: translateY(0);
}