.popup-phone__wa-logo {
  width: 50px;
  height: auto;
  margin: 30px 140px;
  animation: moveAndRotate 1.5s infinite linear;
}

@keyframes moveAndRotate {
  0% {
    transform: translateX(0) translateY(0) rotate(0deg);
  }
  25% {
    transform: translateX(-2px) translateY(-2px) rotate(-5deg);
  }
  50% {
    transform: translateX(2px) translateY(2px) rotate(5deg);
  }
  75% {
    transform: translateX(-2px) translateY(-2px) rotate(-5deg);
  }
  100% {
    transform: translateX(0) translateY(0) rotate(0deg);
  }
}
