.footer__columns {
    display: flex;
    margin: auto;
    justify-content: space-between;
    max-width: 1440px;
}

@media screen and (max-width: 768px) {
    .footer__columns {
        max-width: 704px;
        flex-wrap: wrap;
        justify-content: space-between;
    }
}

@media screen and (max-width: 320px) {
    .footer__columns {
        max-width: 288px;
        flex-direction: column;
        justify-content: center;
    }
}