.footer__column {
    margin: 77px 0 99px;
}

@media screen and (max-width: 768px) {
    .footer__column {
        margin: 77px 0 60px;
        flex-basis: 35%;
    }

    .footer__column:nth-child(2) {
        margin: 0 0 81px;
        order: 2;
    }

    .footer__column:nth-child(3) {
        margin: 0 0 81px;
        order: 4;
    }
}

@media screen and (max-width: 320px) {
    .footer__column {
        margin: 0 0 64px;
    }
}