.footer__column_link {
    opacity: 0.8;
    color: #FFFFFF;
    text-decoration: none;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.32px;
    padding: 0;
    margin: 0 0 4px;
}
.footer__column_link:nth-last-child(1) {
    margin: 0;
}