.header {
  width: 1440px;
  height: 70px;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  margin: 28px auto 0;
  padding: 0;
  background-color: #f2f2f2;
}
